@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.ryft-header {
  font-family: 'Cormorant Garamond';
  font-weight: 400;
  color: white;
}

.ryft-subtitle {
  font-family: 'Libre Baskerville';
  font-weight: 400;
  color: white;
  letter-spacing: 2.88px;
}

.ryft-part {
  font-family: 'Libre Baskerville';
  font-weight: 400;
  color: white;
  margin-bottom: 10px;
}

.header-height {
  height: 5rem
}

.gradient {
  background: linear-gradient(180deg, rgb(0,0,0) 0%, rgb(17, 34, 51) 100%);

  /* linear-gradient(180deg, rgb(78,78,78) 0%, rgb(0, 0, 0) 100%); */
}

.app-icon {
  border-radius: 13%;
  /* border-width: 0.2rem; */
  /* border-color: gray; */
}

.logo {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.logo-wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  display: flex;
}

.logo-row {
  flex-direction: row;
  display: flex;
  align-items: center;
}

.line {
  background-color: red;
  height: 0.1rem;
  flex: 1;
  width: 60px;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.part-i {
  margin-left: 1rem;
  margin-right: 1rem;
}

.tagline {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* gap: 35px; */
  color: #FFF;
  text-align: center;
  font-family: var(--font-kadwa);
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 60px */
  letter-spacing: 8px;
  padding: 90px 18px;
  padding-bottom: 30px;
}

.text {
  color: #FFF;
  font-family: var(--font-kadwa);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; 
  letter-spacing: 1.25px;
  text-align: center;
}


@media only screen and (max-width: 640px) {
  .text {
    color: #FFF;
    font-family: var(--font-kadwa);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 1px;
    text-align: center;
  }
}

.subheader {
  color: #FFF;
  font-family: var(--font-kadwa);
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 36px */
  letter-spacing: 4.8px;
  padding: 35px 0;
  text-align: center;
}

.rowWrapper {
  /* display: flex; */
  padding: 0px 18px;
  /* flex-direction: row; */
}

.copyContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 300px;
  margin-bottom: 35px;
  /* align-items: center;  */
}

.imageContainer {
  flex: 1;
}

.contentWrapper {
  width: 100%;
  background: linear-gradient(180deg, #131017 33.52%, #141018 96.87%);
  /* background: linear-gradient(180deg, #131017 33.52%, rgba(92, 92, 92, 0.65) 57.29%, rgba(255, 255, 255, 0.00) 74.48%, #141018 96.87%); */

}

.mainImage {
  max-width: none;
  max-height: 100vh;
  min-height: 500px;
  margin-left: 50%;
  transform: translate(-50%);
}

.copyright {
  color: #FFF;
  font-family: var(--font-kadwa);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 1px;
  text-align: center;
  padding-bottom: 20px;
}

.buttonStyles {
  display: flex;
  padding: 10px 22px;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  border: 2px solid var(--White, #FFF);
  background: var(--Black, #000);
}

.button-text{
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 178.571% */
  letter-spacing: 0.62px;
}

.heroWrapper{
  /* min-width: 1400px; */
  width: 100vw; 
  position: absolute; 
  bottom: 0; 
  height: 100%;  
  align-self: 'center';
  left: 50%;
  transform: translateX(-50%);
  width: max(calc(100vh*1814/1100), 100vw);
  height:  max(calc(100vw*1100/1814), 100vh);
}

.trailer {
  margin-bottom: 200px;
}

@responsive {
  .videoImageStubWrapper {
    width: 90vw;
    height: 55vw;
    overflow: hidden;
    position: relative;
    border-radius: 3vw;
    margin: auto;
  }

  .videoImageStubWrapperLarge {
    height: 42vw;
    width: 69vw
  }
}

@responsive {
  .videoImageStub {
    position: absolute;
    height: 55vw;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
  }

  .videoImageStubLarge {
    height: 42vw;
  }
}

@responsive {
  .video {
    width: 90vw;
    height: 54vw;
    margin: auto;
    z-index: 1000;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
  }

  .videoLarge {
    width: 69vw;
    height: 42vw;
  }
}
@responsive {
  .playIcon {
    position: absolute;
    top:50%;
    left: 50%;
    height: 12vw;
    width: 12vw;
    transform: translate(-50%,-50%);
    color:red;
  }

  .playIconLarge {
    position: absolute;
    top:50%;
    left: 50%;
    height: 8vw;
    width: 8vw;
    transform: translate(-50%,-50%);
    color:red;
  }

}

/* .background {
  /* height:  max(calc(100vw*1100/1814), 100vh); */
  /* width: 100vw; */
  /* background: url('/assets/images/MANSION-background.webp');
  background-size: cover;
  background-position: bottom;
  position: relative;
}  */

